@import 'variables.scss';

*{
    margin: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: $colorSecundario;
    height: 150;
}

.navbar{
    margin-left: 35px;
}

.logo{
    width: 130px;
    height: 80px;
    margin-left: 0px;
}

ul li{
    list-style-type: none;
    margin-left: 35px;
}

ul li a{
    color: white;
    text-decoration: none;
    margin-left: 60px;
}

.imagenPrincipal {
    background-image: url(../Imágenes/foto2.jpg);
    background-size: cover;
    height: 582px;
    margin-top: 0px;
}

.imagenPrincipal2 {
    background-image: url(../Imágenes/foto6.jpg);
    background-size: 1400px;
    height: 582px;
    margin-top: 0px;
}

.subtitulo{
    color: white;
    font-size: 30px;
    font-weight: 500px;
}

.textoImagen{
    color: white;
    font-size: 18px;
    font-weight: 100px;
}

.contenedorImagen{
    border-style: solid;
    border-radius: 5%;
    background-color: #5e5e5e8f;
    border-color: rgba(0, 0, 0, 0);
    width: 500px;
    height: 120px;
    margin-top: -150px;
    margin-left: 20px;
}

.subtituloDos{
    font-size: 30px;
    color: $colorPrincipal;
    margin-top: 100px;
    margin-left: 10px;
    margin-bottom: 40px;
}

.tituloCard{
    font-size: 20px;
    font-weight: 900;
}

.subtituloTres{
    font-size: 18px;
    margin-top: 10px;
}

.articulos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 450px;
    grid-template-areas: "plan1 plan2 plan3";
    justify-items: center;
} 

.plan1{
    grid-area: plan1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: $colorTerciario;
    align-items: center;
    justify-items: center;
}

.plan2{
    grid-area: plan2;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: $colorTerciario;
    align-items: center;
    justify-items: center;
}

.plan3{
    grid-area: plan3;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: $colorTerciario;
    align-items: center;
    justify-items: center;
}

/* EXTEND BOTONES */

.boton{
    Width: 150px;
    Height: 35px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 500;
    border-radius: 5px;
}

.botonCards{
    @extend .boton;
    background-color: #ce1124da;
    color: #FFFFFF;
}

.botonCards:hover{
    background-color: $colorPrincipal;
}

.botonEnviar{
    @extend .boton;
    background-color: $colorTerciario;
    color: #000;
}

.footer{
    background-color: $colorSecundario;
    color: #FFFFFF;
    height: 93px;
    margin-top: 10px;
}

.textoFooter{
    text-align: center;
    margin-top: 20px;
}

.textoCajas{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 5px;
}

.filtro{
    filter: grayscale(1);
}

.filtro:hover{
    filter: grayscale(0);
}

.fondoCards{
    background-image: url(../Imágenes/fondos-09.png);
}

/*VISTA CURSOS*/

.contenedorTestimonios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 60px;
    grid-template-areas: "foto1 foto2 foto3"
                        "texto1 texto2 texto3";
    row-gap: 40px;
    justify-items: center;
    margin-top: 20px;

}

.imagenesAlumnos1{
    Width: 1200px;
    Height: 720px;
    margin-left: 60px;
    margin-top: 30px;
}

.imagenesAlumnos2{
    Width: 1200px;
    Height: 720px;
    margin-left: 60px;
    margin-top: 30px;
}

.imagenesAlumnos3{
    Width: 1200px;
    Height: 720px;
    margin-left: 60px;
    margin-top: 30px;
}

.textoAlumnos1{
    font-size: 25px;
    font-style: italic;
    margin-left: 60px;
    margin-top: 20px;
    text-align: center;
}

.textoAlumnos2{
    font-size: 25px;
    font-style: italic;
    margin-left: 60px;
    margin-top: 20px;
    text-align: center;
}

.textoAlumnos3{
    font-size: 25px;
    font-style: italic;
    margin-left: 60px;
    margin-top: 20px;
    text-align: center;
}



/*VISTA TALLERES CORTOS*/

.imagenPrincipal3 {
    background-image: url(../Imágenes/foto8.jpg);
    background-size: cover;
    height: 582px;
    margin-top: 0px;
}

.descripcion{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 150px;
    grid-template-areas: "titulo titulo"
                        "texto foto";
    justify-items: center;
    align-items: center;
    row-gap: 50px;
    margin: 50px;

}

.subtituloTalleres{
    grid-area: titulo;
    font-size: 30px;
    color: $colorPrincipal;
    margin-top: 0px;
}

.imagenTalleres{
    grid-area: foto;
    margin-left: 150px;
    height: 280px;
    margin-top: 30px;
}


/* VISTA CONTACTOS */

.imagenPrincipalContacto{
    background-image: url(../Imágenes/foto8.jpg);
    background-size: 1000px;
    height: 582px;
    margin-top: 0px;   
}

.gridContacto{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "foto form";
}

.imagenContacto{
    grid-area: foto;
}

.formContacto{
    grid-area: form;
    margin-top: 60px;
    margin-right: 30px;


}

.fotoContacto{
    width: 400px;
    height: 250px;
    margin-top: 100px;
    margin-left: 30px;
}

.subtituloContacto{
    color: black;
    font-weight: 600;
    font-size: 30px;
    font-weight: 500px;
    margin-left: 30px;
    margin-top: 10px;
}

.textoContacto{
    color: black;
    font-size: 18px;
    font-weight: 100px;
    margin-left: 30px;
}


/*VISTA EJERCICIOS GRATIS */

.imagenPrincipal4 {
    background-image: url(../Imágenes/foto9.jpg);
    background-size: cover;
    height: 582px;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 300px;
}

.ejercicios{
    background-color: $colorTerciario;
    height: 150px;
    width: 550px;
    margin-left: 20px;
    border-radius: 10px;

}

.listajercicios{
    margin-top: 20px;
}

.contenedorEjercicios{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.parrafoEjercicios{
    margin-left: 60px;
    margin-top: 0px;
}


/* MEDIA QUERIES */

@media screen and (max-width:768px) {
    .header{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 100px;
        grid-template-areas: "logo" 
                            "nav";
        background-color: $colorSecundario;
    }

    .articulos{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 400px 400px 400px;
        grid-template-areas: "plan1" 
                            "plan2" 
                            "plan3";
        column-gap: 20px;
        justify-items: center;
        justify-content: center;
    } 

    .contenedorImagen{
        border-style: solid;
        border-radius: 5%;
        background-color: #5e5e5e8f;
        border-color: rgba(0, 0, 0, 0);
        margin-top: -150px;
        margin-left: 20px;
    }

    .footer{
        background-color: $colorSecundario;
        color: #FFFFFF;
        width: 1200px;
        height: 93px;
        margin-top: 20px;
    }

    .imagenPrincipal {
        background-image: url(../Imágenes/foto2.jpg);
        background-size: 1000px;
        height: 582px;
        margin-top: 0px;
    }

    .contenedorTestimonios{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 120px 60px 120px 60px 120px 60px;
        grid-template-areas: "foto1"
                            "texto1"
                            "foto2" 
                            "texto2"
                            "foto3"
                            "texto3";
        row-gap: 40px;
        justify-items: center;
        margin-top: 20px;
    
    }

    .descripcion{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        grid-template-areas: "titulo"
                            "foto";
        justify-items: center;
        align-items: center;
        row-gap: 50px;
        margin: 50px;
    
    }

    .subtituloTalleres{
        grid-area: titulo;
        font-size: 30px;
        color: $colorPrincipal;
        margin-top: 0px;
    }
    
    .imagenTalleres{
        grid-area: foto;
        margin-left: 150px;
        height: 280px;
        margin-top: 30px;
    }

}

@media screen and (max-width:480px) {
    .header{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 100px;
        grid-template-areas: "logo" 
                            "nav";
        background-color: $colorSecundario;
    }

    .articulos{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 400px 400px 400px;
        grid-template-areas: "plan1" 
                            "plan2" 
                            "plan3";
        column-gap: 20px;
        justify-items: center;
        justify-content: center;
    } 

    .contenedorImagen{
        border-style: solid;
        border-radius: 5%;
        background-color: #5e5e5e8f;
        border-color: rgba(0, 0, 0, 0);
        margin-top: -150px;
        margin-left: 20px;
    }

    .footer{
        background-color: $colorSecundario;
        color: #FFFFFF;
        width: 480px;
        height: 93px;
        margin-top: 20px;
    }

    .imagenPrincipal {
        background-image: url(../Imágenes/foto2.jpg);
        background-size: 800px;
        height: 582px;
        margin-top: 0px;
    }

    .contenedorTestimonios{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 120px 60px 120px 60px 120px 60px;
        grid-template-areas: "foto1"
                            "texto1"
                            "foto2" 
                            "texto2"
                            "foto3"
                            "texto3";
        row-gap: 40px;
        justify-items: center;
        margin-top: 20px;
    
    }
}